#solutions {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    gap: 50px; /* Reduz o espaço entre a imagem e o texto */
    /*padding: 20px;*/
    max-width: 1200px; /* Define uma largura máxima para limitar o conteúdo */
    /*margin: 0%;  Centraliza o container na página */
  }
  
  .prototype-image {
    width: 100%; /* Reduz um pouco o tamanho da imagem para ajustar o layout */
    border-radius: 10px; /* Borda arredondada */
    height: auto; /* Mantém a propor'ção da imagem */
    
  }
  
  .solution-content {
    max-width: 50%; /* Define a largura máxima da área de texto */
  }
  
  .solution-content h2, .solution-content h3, .solution-content p {
    margin: 0 0 10px 0; /* Espaçamento adequado entre os textos */
  }
  
  .solution-content p {
    line-height: 1.5; /* Melhor legibilidade para o parágrafo */
  }
  

  .solutions-title {
    text-align: center;
    font-weight: 300; /* Define o peso da fonte como light */
    margin: 20px 0; /* Espaçamento entre o título e os elementos */
    font-size: 2rem; /* Ajuste do tamanho da fonte */
  }
  
  .small-images {
    display: flex;
    gap: 10px; /* Espaço entre as imagens pequenas */
    margin-top: 20px; /* Espaço acima das imagens pequenas */
  }
  
  .small-image {
    width: 25%; /* Ajuste o tamanho das imagens pequenas */
    height: auto; /* Mantém a proporção das imagens */
    border-radius: 5px; /* Adiciona bordas arredondadas se desejado */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  }
  
  p {
    font-weight: 250;
  }

  .aligned-text {
    text-align: center; /* Alinha o texto à direita */
    margin-top: 80px; /* Adiciona um espaço acima do novo texto */
    font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 400; /* Peso da fonte normal */
    line-height: 1.5rem;
    
  }

  h3 {
    font-size: large;
    color: var(--primary-color);
  }

  .content-divider {
    display: flex;
    justify-content: center;
    margin: -10px 0 20px 0; /* Reduz a margem superior para mover o SVG mais para cima */
  }
  